language: python

python:
  - "3.4"
  - "3.5"
  - "3.6-dev"
  - "nightly"

sudo: required

install:
  - pip3 install coveralls

script:
  - cd ..
  - ls
  - git clone https://github.com/PedalPi/PluginsManager pluginsmanager --depth=1
  - cd pluginsmanager
  - python setup.py develop
  - cd ..
  - cd Application
  - coverage3 run --source=application setup.py test

after_success:
  - bash <(curl -s https://codecov.io/bash)
